<div class="page-wrap">
	<h2>Today Bitcoin is worth <%= number_to_currency(@price_now) %>.</h2>
	<h2>On <%= @start_date.strftime("%B %d, %Y") %>, it was worth <%= number_to_currency(@price_year_ago)%></h2>
	<h2>It is up <%= @percentage_change %>% in the last year!</h2>

	<!-- <p>Bitcoin hasn't been this low since <%= Date.new(2017, 11, 14) %>, a <%= (Date.today - Date.new(2017, 11, 14)).to_i %> day low.</p> -->

</div>	

